<%- include('partials/header'); -%>
<style>
    #todoDiv:hover {
        background: gray;
    }
</style>
<div class="container col-lg-4" style="position: relative; margin-left: auto; margin-right: auto;">
    <h5 style="position: absolute; top: 70px">Latest Note</h5>
    <div class="row row-cols-1 row-cols-md-3 g-4" style="height: 50vh; justify-content: center; align-items: center;">
        <% notes.forEach(note => { %>
            <div class="col">
                <div class="card h-100 w-100">
                    <div class="card-body">
                        <h5 class="card-title"><%= note.heading %></h5>
                        <p><%= note.content.substring(0,100) %>.....</p>
                    </div>
                    <button type="button" class="btn btn-outline-info"><a href="/notes/<%= note.heading %>">Read more</a></button>
                </div>
            </div>
        <% }); %>
    </div>
</div>
<div class="container col-lg-4" style="position: relative; margin-left: auto; margin-right: auto;">
    <h5 style="margin-bottom: 40px;">Latest To-Do</h5>
    <div class="container" style="height: 50vh; justify-content: center; align-items: center;">
        <% todos.forEach(todo => { %>
            <div class="row" id="todoDiv" style="cursor: pointer; position: relative; justify-content: center;">
                <% if(todo.heading.length > 20){ %>
                    <%= todo.heading.substring(0,20) %>...
                <% } else { %>
                    <%= todo.heading %>
                <% } %>
            </div>
        <% }); %>
    </div>
</div>
<script>
    const todoDivs = document.querySelectorAll(".row[id^='todoDiv']");
    todoDivs.forEach(todoDiv => {
        todoDiv.addEventListener('click',function(){
            document.location = document.location.href += "showTodos";
        });
    });
</script>
<%- include('partials/footer'); -%>
